.size_m {
   background-image: linear-gradient(90deg, #4985FF, #4986ffca);
   margin-top: 10px;
   border-radius: 20px;
   border: none;
   width: 100px;
   height: 40px;
   font-family: 16px;
   box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.498);
}

.size_l {
   background-image: linear-gradient(90deg, #4985FF, #4986ff99);
   border-radius: 20px;
   margin-top: 10px;
   border: none;
   width: 200px;
   height: 45px;
   font-family: 24px;
   box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.429);
}

.size_xl {
   background-image: linear-gradient(90deg, #4985FF, #4986ffca);
   border-radius: 20px;
   margin-top: 10px;
   border: none;
   width: 300px;
   height: 50px;
   font-family: 32px;
   box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.415);
}



.disabled {
   background-image: linear-gradient(90deg, #4985FF, #4986ffa7);
   border-radius: 20px;
   margin-top: 10px;
   border: none;
   opacity: 0.5;
   cursor: auto;
}

.default {
   background-image: linear-gradient(90deg, #4985FF, #4986ffca);
   border-radius: 20px;
   border: none;
   padding: 10px;
}

button {
   position: relative;
   overflow: hidden;
   transition: 0.3s all;
}

button:hover {
   cursor: pointer;
   transform: scale(1.05);
   transition: 0.3s all;
}

button:hover::before {
   left: calc(100% + 150px);
   transition: 2s;
}

button:focus::before {
   left: calc(100% + 150px);
   transition: 2s;
}

button:focus::after {
   left: calc(100% + 150px);
   transition: 2s;
}

button:hover::after {
   left: calc(100% + 150px);
   transition: 2s;
}

button::before {
   content: '';
   position: absolute;
   top: 0;
   left: -200px;
   width: 60px;
   height: 100%;
   background-color: white;
   filter: blur(40px);
   transform: skew(-30deg);
}

button::after {
   content: '';
   position: absolute;
   top: 0;
   left: -200px;
   width: 60px;
   height: 100%;
   background-color: white;
   filter: blur(40px);
   transform: skew(-30deg);
}

.btn_shine::after{
   left: calc(100% + 150px);
   transition: 4s all 1.5s;
   z-index: 1;
   width: 100px;
   height: 100px;
   background-color: white;
}